<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="header">
            Pierwsza aplikacja Django
            {% if request.session.token %}
            <a href="{% url 'drf-token-logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'drf-token-login' %}">Zaloguj</a>
        {% endif %}
        </div>
        <hr/>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            <p>Panel boczny</p>
        </div>
    </body>
</html>
